<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   <div class="button-container">
    <a href="/feed" class="button right-button">Feed</a>
    <a href="/profile" class="button right-button">Profile</a>
    <a href="/login" class="button right-button">Login</a>
    <a href="/register" class="button right-button">Signup</a>
   </div>
  </body>
</html>
